{
    "openapi": "3.0.0",
    "info": {
        "title": "Clubs API",
        "description": "API documentation for Clubs",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://issgroup-001-site1.anytempurl.com/api",
            "description": "Production API Server"
        },
        {
            "url": "http://127.0.0.1:8000/api",
            "description": "Local Development Server"
        }
    ],
    "paths": {
        "/accounting/accounts": {
            "get": {
                "tags": [
                    "Accounting - دليل الحسابات العام"
                ],
                "summary": "🗂️ جلب دليل الحسابات المالي",
                "description": "يسترجع هذا الإجراء شجرة أو دليل الحسابات المالي بالكامل للفرع الحالي، مع إمكانية الفلترة حسب نوع الحساب أو حالة النشاط. السلوك الافتراضي هو جلب الحسابات الرئيسية (التي ليس لها أب) لعرض الشجرة بشكل متدرج. مفيد جداً لبناء شجرة الحسابات في واجهات النظام المالية.",
                "operationId": "80db30fc72dd5376a3b8f09e362bbf7a",
                "parameters": [
                    {
                        "name": "type",
                        "in": "query",
                        "description": "نوع الحساب (asset, liability, equity, revenue, expense)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "asset",
                                "liability",
                                "equity",
                                "revenue",
                                "expense"
                            ]
                        }
                    },
                    {
                        "name": "is_active",
                        "in": "query",
                        "description": "تصفية حسب حالة النشاط (true = نشط فقط، false = معطل فقط)",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "parent_id",
                        "in": "query",
                        "description": "معرف الحساب الأب لجلب الأبناء المباشرين له. أرسل \"all\" لجلب الجميع دون تدرج.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "✅ تم جلب دليل الحسابات بنجاح",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "تم جلب دليل الحسابات"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/AccAccount"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "❌ غير مصرح - الرجاء تسجيل الدخول أولاً"
                    },
                    "500": {
                        "description": "🔥 خطأ داخلي في الخادم أثناء المعالجة"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Accounting - دليل الحسابات العام"
                ],
                "summary": "➕ إضافة حساب جديد للدليل",
                "description": "ينشئ هذا الإجراء حساباً مالياً جديداً في شجرة الحسابات (دليل الحسابات). يمكن إضافته كحساب رئيسي أو كحساب فرعي تحت حساب أب محدد. السيناريو: إضافة حساب لمصروف جديد مثل (مصاريف تسويق) تحت حساب الأب (المصاريف التشغيلية).",
                "operationId": "6fe9397894a2f383bec06fe5d9945f56",
                "requestBody": {
                    "description": "البيانات المطلوبة لإنشاء حساب جديد في دليل الحسابات المالي",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "code",
                                    "name",
                                    "type"
                                ],
                                "properties": {
                                    "code": {
                                        "description": "رمز الحساب المحاسبي الفريد (مثال: 1101)",
                                        "type": "string",
                                        "example": "1103"
                                    },
                                    "name": {
                                        "description": "الاسم العربي للحساب المالي",
                                        "type": "string",
                                        "example": "صندوق الاستقبال - بطاقات"
                                    },
                                    "name_en": {
                                        "description": "الاسم الإنجليزي للحساب المالي",
                                        "type": "string",
                                        "example": "Receiving Cash - Card"
                                    },
                                    "type": {
                                        "description": "نوع الحساب المحاسبي الرئيسي",
                                        "type": "string",
                                        "example": "asset",
                                        "enum": [
                                            "asset",
                                            "liability",
                                            "equity",
                                            "revenue",
                                            "expense"
                                        ]
                                    },
                                    "currency": {
                                        "description": "العملة المعامل بها الحساب (USD, SYP, or BOTH)",
                                        "type": "string",
                                        "example": "BOTH",
                                        "enum": [
                                            "USD",
                                            "SYP",
                                            "BOTH"
                                        ]
                                    },
                                    "parent_id": {
                                        "description": "معرف الحساب الأب في حال كان الحساب فرعياً",
                                        "type": "integer",
                                        "example": 1,
                                        "nullable": true
                                    },
                                    "allow_manual_entry": {
                                        "description": "هل يُسمح بإدخال قيود محاسبية يدوية على هذا الحساب",
                                        "type": "boolean",
                                        "example": true
                                    },
                                    "is_active": {
                                        "description": "حالة تفعيل الحساب",
                                        "type": "boolean",
                                        "example": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "✅ تم إنشاء الحساب بنجاح",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "تم إضافة الحساب بنجاح"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/AccAccount"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "❌ مدخلات خاطئة أو رمز الحساب مكرر"
                    },
                    "401": {
                        "description": "❌ غير مصرح"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/accounting/accounts/{id}": {
            "get": {
                "tags": [
                    "Accounting - دليل الحسابات العام"
                ],
                "summary": "🔍 تفاصيل حساب مالي معين",
                "description": "يسترجع هذا الإجراء البيانات التفصيلية لحساب مالي معين عبر معرفه الفريد (ID) مع إدراج الحسابات الأبناء التابعة له والحساب الأب المباشر.",
                "operationId": "df839b91bc0729d495ab4c7feef256e4",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "معرف الحساب المحاسبي (ID)",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "✅ تم استرجاع تفاصيل الحساب بنجاح",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "تم جلب بيانات الحساب"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/AccAccount"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "🚫 الحساب المالي المحدد غير موجود"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Accounting - دليل الحسابات العام"
                ],
                "summary": "📝 تحديث حساب محاسبي",
                "description": "يسمح بتحديث البيانات الوصفية للحساب المحاسبي مثل الاسم، العملة، وحالة النشاط. السيناريو: إيقاف وتجميد حساب مصروف قديم عبر تحويل `is_active` إلى `false`.",
                "operationId": "fefbf67d786fc40a4788d644e7ae3906",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "معرف الحساب المحاسبي (ID)",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "صندوق الاستقبال المعدل"
                                    },
                                    "name_en": {
                                        "type": "string",
                                        "example": "Reception Cash Updated"
                                    },
                                    "currency": {
                                        "type": "string",
                                        "example": "USD",
                                        "enum": [
                                            "USD",
                                            "SYP",
                                            "BOTH"
                                        ]
                                    },
                                    "allow_manual_entry": {
                                        "type": "boolean",
                                        "example": false
                                    },
                                    "is_active": {
                                        "type": "boolean",
                                        "example": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "✅ تم تحديث بيانات الحساب بنجاح",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "تم تحديث الحساب بنجاح"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/AccAccount"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "🚫 الحساب غير موجود"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/accounting/accounts/{id}/ledger": {
            "get": {
                "tags": [
                    "Accounting - دليل الحسابات العام"
                ],
                "summary": "📊 كشف حساب تفصيلي (دفتر أستاذ مساعد)",
                "description": "يستخرج هذا الإجراء كشف حساب مالي تفصيلي (دفتر أستاذ مساعد) لحساب محدد خلال فترة زمنية معينة. يوضح الكشف الرصيد الافتتاحي، كافة الحركات المدينة والدائنة المدرجة، وتغير الرصيد التراكمي ونهاية الكشف بالرصيد الختامي.",
                "operationId": "83a9efc85733b1c2be398a37d585fde4",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "معرف الحساب المحاسبي (ID)",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "تاريخ بدء الكشف (تنسيق YYYY-MM-DD) - الافتراضي بداية الشهر الحالي",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "description": "تاريخ نهاية الكشف (تنسيق YYYY-MM-DD) - الافتراضي تاريخ اليوم",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "✅ تم استخراج كشف الحساب بنجاح",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "تم جلب كشف الحساب"
                                        },
                                        "data": {
                                            "properties": {
                                                "opening_balance_usd": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 1200.5
                                                },
                                                "opening_balance_syp": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 500000
                                                },
                                                "closing_balance_usd": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 1750
                                                },
                                                "closing_balance_syp": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 350000
                                                },
                                                "entries": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 25
                                                            },
                                                            "date": {
                                                                "type": "string",
                                                                "format": "date",
                                                                "example": "2026-06-15"
                                                            },
                                                            "reference_number": {
                                                                "type": "string",
                                                                "example": "JV-00021"
                                                            },
                                                            "description": {
                                                                "type": "string",
                                                                "example": "إيراد مبيعات اشتراك"
                                                            },
                                                            "debit_usd": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 150
                                                            },
                                                            "credit_usd": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 0
                                                            },
                                                            "debit_syp": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 0
                                                            },
                                                            "credit_syp": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 150000
                                                            },
                                                            "memo": {
                                                                "type": "string",
                                                                "example": "دفعة العضو رقم 15"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "🔥 خطأ في استخراج الكشف"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/accounting/counterparties": {
            "get": {
                "tags": [
                    "Accounting - الأطراف والعملاء والموردين"
                ],
                "summary": "🗂️ عرض الأطراف (العملاء / الموردين / الموظفين)",
                "description": "يسترجع قائمة بكافة الأطراف الخارجية والداخلية المسجلين بالنظام مع إمكانية التصفية حسب نوع الطرف (عميل customer، مورد vendor، موظف employee، آخر other) أو حسب الكيان المرجعي المرتبط (Polymorphic Reference).",
                "operationId": "10d8408e48b0297d0e78aaad41711305",
                "parameters": [
                    {
                        "name": "type",
                        "in": "query",
                        "description": "نوع الطرف للتصفية",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "customer",
                                "vendor",
                                "employee",
                                "other"
                            ]
                        }
                    },
                    {
                        "name": "reference_type",
                        "in": "query",
                        "description": "نوع الكيان الخارجي المرجعي (Player, Staff)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "reference_id",
                        "in": "query",
                        "description": "معرف الكيان الخارجي المرجعي",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "✅ تم جلب قائمة الأطراف بنجاح",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "تم جلب الأطراف"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/AccCounterparty"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "❌ غير مصرح"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Accounting - الأطراف والعملاء والموردين"
                ],
                "summary": "➕ إضافة طرف جديد للنظام",
                "description": "ينشئ طرفاً جديداً (عميل، مورد، موظف) ويربطه اختيارياً بحساب ذمم مدينة/دائنة في دليل الحسابات لضمان تسجيل القيود المحاسبية عليه بشكل آلي ودقيق.",
                "operationId": "523558526f95029381f12eb12e22b4aa",
                "requestBody": {
                    "description": "بيانات إنشاء الطرف الجديد",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "type"
                                ],
                                "properties": {
                                    "name": {
                                        "description": "اسم الطرف الكامل أو اسم الشركة للشركات الموردة",
                                        "type": "string",
                                        "example": "شركة مياه نقي للتوريدات"
                                    },
                                    "type": {
                                        "description": "تصنيف نوع الكيان المالي",
                                        "type": "string",
                                        "example": "vendor",
                                        "enum": [
                                            "customer",
                                            "vendor",
                                            "employee",
                                            "other"
                                        ]
                                    },
                                    "ar_account_id": {
                                        "description": "معرف الحساب المحاسبي للذمم المرتبط بالطرف في الدليل",
                                        "type": "integer",
                                        "example": 14,
                                        "nullable": true
                                    },
                                    "country_code": {
                                        "description": "رمز الدولة",
                                        "type": "string",
                                        "example": "+963",
                                        "nullable": true
                                    },
                                    "phone": {
                                        "description": "رقم هاتف الطرف",
                                        "type": "string",
                                        "example": "0509998887",
                                        "nullable": true
                                    },
                                    "email": {
                                        "description": "البريد الإلكتروني للطرف",
                                        "type": "string",
                                        "format": "email",
                                        "example": "sales@naqiwater.com",
                                        "nullable": true
                                    },
                                    "reference_type": {
                                        "description": "نوع الموديل الخارجي المرتبط إن وجد (مثل Player)",
                                        "type": "string",
                                        "example": null,
                                        "nullable": true
                                    },
                                    "reference_id": {
                                        "description": "معرف السجل في جدول الموديل الخارجي",
                                        "type": "integer",
                                        "example": null,
                                        "nullable": true
                                    },
                                    "notes": {
                                        "description": "ملاحظات وتفاصيل إضافية حول الطرف",
                                        "type": "string",
                                        "example": "مورد مياه رسمي لصالات النادي الرياضية",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "✅ تم إنشاء الطرف بنجاح",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "تم إضافة الطرف بنجاح"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/AccCounterparty"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "❌ الحساب أو البيانات المحددة غير صالحة"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/accounting/counterparties/{id}": {
            "get": {
                "tags": [
                    "Accounting - الأطراف والعملاء والموردين"
                ],
                "summary": "🔍 تفاصيل طرف معين",
                "description": "يسترجع تفاصيل الطرف المالية والشخصية بواسطة معرفه الفريد (ID)، مع توضيح حسابه المرتبط ورقم هاتفه وإيميله وحالته.",
                "operationId": "a903ceede40e37cd2eebfa1389a4dbd9",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "معرف الطرف الفريد (ID)",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "✅ تم جلب تفاصيل الطرف بنجاح",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "تم جلب بيانات الطرف"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/AccCounterparty"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "🚫 الطرف المحدد غير موجود"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Accounting - الأطراف والعملاء والموردين"
                ],
                "summary": "📝 تحديث بيانات طرف",
                "description": "يسمح بتعديل بيانات الطرف مثل الاسم، التلفون، الحساب المرتبط، والبريد الإلكتروني لتغيير تفاصيل التواصل أو التعديلات المحاسبية.",
                "operationId": "75daa016c43b83a632543ad57f6f2a27",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "معرف الطرف الفريد (ID)",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "description": "الاسم الجديد للطرف",
                                        "type": "string",
                                        "example": "شركة مياه نقي للتوريدات المحدودة"
                                    },
                                    "type": {
                                        "description": "نوع الكيان المالي",
                                        "type": "string",
                                        "example": "vendor",
                                        "enum": [
                                            "customer",
                                            "vendor",
                                            "employee",
                                            "other"
                                        ]
                                    },
                                    "ar_account_id": {
                                        "description": "معرف حساب الذمم المرتبط بالطرف",
                                        "type": "integer",
                                        "example": 14,
                                        "nullable": true
                                    },
                                    "country_code": {
                                        "description": "رمز الدولة",
                                        "type": "string",
                                        "example": "+963",
                                        "nullable": true
                                    },
                                    "phone": {
                                        "description": "رقم هاتف التواصل الجديد",
                                        "type": "string",
                                        "example": "0509998887",
                                        "nullable": true
                                    },
                                    "email": {
                                        "description": "البريد الإلكتروني الجديد للطرف",
                                        "type": "string",
                                        "format": "email",
                                        "example": "info@naqiwater.com",
                                        "nullable": true
                                    },
                                    "reference_type": {
                                        "description": "نوع الموديل الخارجي المرتبط إن وجد",
                                        "type": "string",
                                        "example": null,
                                        "nullable": true
                                    },
                                    "reference_id": {
                                        "description": "معرف السجل الخارجي",
                                        "type": "integer",
                                        "example": null,
                                        "nullable": true
                                    },
                                    "notes": {
                                        "description": "ملاحظات إضافية حول التعديل",
                                        "type": "string",
                                        "example": "تم تعديل اسم الشركة بناءً على السجل التجاري الجديد",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "✅ تم تحديث الطرف بنجاح",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "تم تحديث بيانات الطرف"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/AccCounterparty"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "🚫 الطرف المحدد غير موجود"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/accounting/journals": {
            "get": {
                "tags": [
                    "Accounting - القيود اليومية العامة"
                ],
                "summary": "🗂️ جلب وقراءة سندات القيود اليومية",
                "description": "يسترجع هذا الإجراء قائمة بكافة سندات القيد (سندات القبض، الصرف، القيود العامة) المعرفة بالنظام مع تفاصيل البنود الخاصة بكل قيد وحالته (مسودة Draft، أو مرحل Posted). يدعم التصفية حسب التاريخ، الفرع، الصندوق، أو نوع السند.",
                "operationId": "33708c384b63357c0626f4c14d3b817f",
                "parameters": [
                    {
                        "name": "type",
                        "in": "query",
                        "description": "نوع السند (JV = قيد عام، RV = قبض، PV = صرف)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "JV",
                                "RV",
                                "PV"
                            ]
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "حالة السند (draft = مسودة، posted = مرحل ومؤثر مالياً)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "draft",
                                "posted"
                            ]
                        }
                    },
                    {
                        "name": "safe_id",
                        "in": "query",
                        "description": "معرف الصندوق المالي في حال كان السند سند قبض أو صرف مرتبط بصندوق",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "period_id",
                        "in": "query",
                        "description": "معرف الفترة المالية المرتبط بها القيد",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "from_date",
                        "in": "query",
                        "description": "بدءاً من هذا التاريخ (YYYY-MM-DD)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "to_date",
                        "in": "query",
                        "description": "حتى هذا التاريخ (YYYY-MM-DD)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "عدد السندات في الصفحة (الافتراضي 20)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 20
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "✅ تم استرجاع قائمة السندات بنجاح",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "تم جلب سندات القيود"
                                        },
                                        "data": {
                                            "properties": {
                                                "current_page": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/AccJournal"
                                                    }
                                                },
                                                "total": {
                                                    "type": "integer",
                                                    "example": 120
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "❌ غير مصرح"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Accounting - القيود اليومية العامة"
                ],
                "summary": "➕ إنشاء سند قيد مالي جديد (مسودة)",
                "description": "ينشئ هذا الإجراء سند قيد مالي مزدوج جديد ويحفظه بحالة (مسودة Draft). السند لا يؤثر على ميزان المراجعة أو أرصدة الصناديق إلا بعد ترحيله. **هام:** يجب أن يكون مجموع الحسابات المدينة مساوياً لمجموع الحسابات الدائنة بكلتا العملتين لتفادي أخطاء عدم توازن القيد.",
                "operationId": "75ec3a9b58fd40fde25807601745f9fd",
                "requestBody": {
                    "description": "بيانات رأس السند وتفاصيل البنود المحاسبية للمدخلات والمخرجات",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "type",
                                    "date",
                                    "description",
                                    "lines"
                                ],
                                "properties": {
                                    "type": {
                                        "description": "نوع السند (JV = قيد عام، RV = قبض، PV = صرف)",
                                        "type": "string",
                                        "example": "JV",
                                        "enum": [
                                            "JV",
                                            "RV",
                                            "PV"
                                        ]
                                    },
                                    "date": {
                                        "description": "تاريخ الاستحقاق المحاسبي للقيد",
                                        "type": "string",
                                        "format": "date",
                                        "example": "2026-06-23"
                                    },
                                    "description": {
                                        "description": "البيان أو الوصف العام للسند المالي",
                                        "type": "string",
                                        "example": "إثبات مصروف الصيانة لشهر حزيران"
                                    },
                                    "branch_id": {
                                        "description": "معرف الفرع التابع له العملية المالية",
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "safe_id": {
                                        "description": "معرف الصندوق في حال كان سند قبض أو صرف",
                                        "type": "integer",
                                        "example": null,
                                        "nullable": true
                                    },
                                    "counterparty_id": {
                                        "description": "معرف الطرف الثالث (عميل/مورد/موظف)",
                                        "type": "integer",
                                        "example": null,
                                        "nullable": true
                                    },
                                    "lines": {
                                        "description": "سطور القيد المحاسبي المزدوج (يجب أن تحتوي على سطرين على الأقل وتكون متوازنة)",
                                        "type": "array",
                                        "items": {
                                            "required": [
                                                "account_id"
                                            ],
                                            "properties": {
                                                "account_id": {
                                                    "description": "معرف الحساب المحاسبي من دليل الحسابات",
                                                    "type": "integer",
                                                    "example": 5
                                                },
                                                "debit_usd": {
                                                    "description": "القيمة المدينة بالدولار",
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 100
                                                },
                                                "credit_usd": {
                                                    "description": "القيمة الدائنة بالدولار",
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 0
                                                },
                                                "debit_syp": {
                                                    "description": "القيمة المدينة بالليرة السورية",
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 0
                                                },
                                                "credit_syp": {
                                                    "description": "القيمة الدائنة بالليرة السورية",
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 0
                                                },
                                                "memo": {
                                                    "description": "شرح مخصص لهذا السطر المالي",
                                                    "type": "string",
                                                    "example": "فاتورة صيانة جهاز المشي رقم 3"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "✅ تم إنشاء قيد اليومية كمسودة بنجاح",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "تم إنشاء سند القيد كمسودة"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/AccJournal"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "❌ القيد المزدوج غير متوازن مالياً، أو المدخلات غير صحيحة"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/accounting/journals/{id}": {
            "get": {
                "tags": [
                    "Accounting - القيود اليومية العامة"
                ],
                "summary": "🔍 تفاصيل سند قيد معين",
                "description": "يسترجع تفاصيل سند القيد مع كافة الحركات المحاسبية المدرجة تحته والأطراف والفرع المرتبط به.",
                "operationId": "84f3d871f7614e06bf136f3fe1b2165b",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "معرف السند المحاسبي (ID)",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "✅ تم جلب بيانات السند بنجاح",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "تم جلب بيانات السند"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/AccJournal"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "🚫 السند المالي غير موجود"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/accounting/journals/{id}/post": {
            "post": {
                "tags": [
                    "Accounting - القيود اليومية العامة"
                ],
                "summary": "🔒 ترحيل قيد مالي مؤجل وتثبيته",
                "description": "يغير حالة السند المالي المحدد من (مسودة draft) إلى (مرحل posted). بعد الترحيل، يتم إثبات التأثير المالي وتحديث أرصدة الحسابات والصناديق تلقائياً، ويُمنع تعديل أو حذف القيد لاحقاً لسلامة التدقيق والقيود المالية.",
                "operationId": "49b0d8a129c92e502407e7b6400db5e0",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "معرف السند المحاسبي (ID)",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "✅ تم ترحيل السند وتأثيره المالي بنجاح",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "تم ترحيل السند بنجاح"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/AccJournal"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "❌ السند تم ترحيله مسبقاً أو أن الفترة المالية الخاصة به مغلقة"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/accounting/journals/{id}/reverse": {
            "post": {
                "tags": [
                    "Accounting - القيود اليومية العامة"
                ],
                "summary": "↩️ عكس وإلغاء قيد مالي مرحل",
                "description": "في النظام المحاسبي للقيود المزدوجة، لا يمكن حذف القيود المرحّلة إطلاقاً. بدلاً من ذلك، يقوم هذا الإجراء بإنشاء **قيد عكسي تلقائي (Reversal Entry)** يقوم بعكس القيم (يجعل المدين دائناً والدائن مديناً) لإلغاء تأثير السند الأصلي بالكامل، مع تسجيل سبب الإلغاء.",
                "operationId": "c45e2d848e01a58562f5e38fa23985db",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "معرف السند المراد إلغاؤه (ID)",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "reason"
                                ],
                                "properties": {
                                    "reason": {
                                        "description": "سبب إلغاء وعكس السند المحاسبي",
                                        "type": "string",
                                        "example": "خطأ في تقدير قيمة المصروف وتم التعديل"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "✅ تم إلغاء السند وتوليد القيد العكسي بنجاح",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "تم عكس السند بنجاح"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/AccJournal"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "❌ السند ملغي مسبقاً، أو غير مرحل ليتم إلغاؤه"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/accounting/partners": {
            "get": {
                "tags": [
                    "Accounting - الشركاء وجاري الشركاء"
                ],
                "summary": "🗂️ عرض الشركاء المساهمين",
                "description": "يسترجع قائمة بكافة الشركاء المساهمين في رأسمال النادي الرياضي، مع تفاصيل حسابات رأس المال وحسابات المسحوبات الجارية ونسب الأرباح الخاصة بهم.",
                "operationId": "f2cbec7756f79ee93ed643ee6deb7bc5",
                "responses": {
                    "200": {
                        "description": "✅ تم جلب قائمة الشركاء بنجاح",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "تم جلب الشركاء"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/AccPartner"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "❌ غير مصرح"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Accounting - الشركاء وجاري الشركاء"
                ],
                "summary": "➕ إضافة شريك جديد للمشروع",
                "description": "ينشئ هذا الإجراء شريكاً مساهماً جديداً في النظام، ويربطه بحساب رأس المال المخصص له في دليل الحسابات ضمن حقوق الملكية مع تحديد نسبة توزيع الأرباح وتاريخ الانضمام الفعلي.",
                "operationId": "955c9d47af250f5524aa5ae1ba38d1ad",
                "requestBody": {
                    "description": "بيانات إنشاء الشريك الجديد",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "profit_share_pct",
                                    "joined_at"
                                ],
                                "properties": {
                                    "name": {
                                        "description": "الاسم الكامل للشريك الجديد",
                                        "type": "string",
                                        "example": "خالد بن عبد الله التويجري"
                                    },
                                    "capital_account_id": {
                                        "description": "معرف الحساب المحاسبي لرأس مال الشريك (اختياري، يتم توليده تلقائياً إن لم يرسل)",
                                        "type": "integer",
                                        "example": 12,
                                        "nullable": true
                                    },
                                    "drawings_account_id": {
                                        "description": "معرف حساب جاري المسحوبات للشركاء (اختياري، يتم توليده تلقائياً إن لم يرسل)",
                                        "type": "integer",
                                        "example": 13,
                                        "nullable": true
                                    },
                                    "profit_share_pct": {
                                        "description": "نسبة الشريك من الأرباح والخسائر (0 - 100%)",
                                        "type": "number",
                                        "format": "float",
                                        "example": 25
                                    },
                                    "joined_at": {
                                        "description": "تاريخ انضمام الشريك (YYYY-MM-DD)",
                                        "type": "string",
                                        "format": "date",
                                        "example": "2026-06-01"
                                    },
                                    "is_active": {
                                        "description": "حالة النشاط للشراكة",
                                        "type": "boolean",
                                        "example": true
                                    },
                                    "notes": {
                                        "description": "شروط أو ملاحظات إضافية حول الشراكة",
                                        "type": "string",
                                        "example": "شريك ممول غير مشارك في الإدارة",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "✅ تم إضافة الشريك بنجاح",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "تم إضافة الشريك بنجاح"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/AccPartner"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "❌ الحسابات المحددة غير صالحة أو مكررة"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/accounting/partners/{id}": {
            "get": {
                "tags": [
                    "Accounting - الشركاء وجاري الشركاء"
                ],
                "summary": "🔍 تفاصيل شريك مساهم محدد",
                "description": "يسترجع تفاصيل شريك معين بواسطة معرفه الفريد (ID)، مع توضيح نسبة أرباحه وحسابه الجاري وحساب رأس المال الخاص به وحالته.",
                "operationId": "f1bb2e7e6d210493452757a21edb569b",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "معرف الشريك",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "✅ تم جلب بيانات الشريك بنجاح",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "تم جلب بيانات الشريك"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/AccPartner"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "🚫 الشريك غير موجود"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Accounting - الشركاء وجاري الشركاء"
                ],
                "summary": "📝 تحديث بيانات شريك مساهم",
                "description": "يسمح بتعديل البيانات الخاصة بالشريك المساهم مثل الاسم، نسبة توزيع الأرباح، حساب جاري المسحوبات، وحالة النشاط لتغيير الشروط التعاقدية أو إيقاف الشريك.",
                "operationId": "4a43e62e7ec7b5f6f273101b818ea7b1",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "معرف الشريك المساهم",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "description": "الاسم الجديد للشريك المساهم",
                                        "type": "string",
                                        "example": "خالد بن عبد الله التويجري"
                                    },
                                    "capital_account_id": {
                                        "description": "معرف الحساب المحاسبي الجديد لرأس المال",
                                        "type": "integer",
                                        "example": 12
                                    },
                                    "drawings_account_id": {
                                        "description": "معرف الحساب المحاسبي للمسحوبات",
                                        "type": "integer",
                                        "example": 13,
                                        "nullable": true
                                    },
                                    "profit_share_pct": {
                                        "description": "النسبة المئوية المعدلة من الأرباح والخسائر",
                                        "type": "number",
                                        "format": "float",
                                        "example": 30
                                    },
                                    "joined_at": {
                                        "description": "تاريخ انضمام معدل",
                                        "type": "string",
                                        "format": "date",
                                        "example": "2026-06-01"
                                    },
                                    "is_active": {
                                        "description": "حالة النشاط للشراكة",
                                        "type": "boolean",
                                        "example": true
                                    },
                                    "notes": {
                                        "description": "شروط أو ملاحظات إضافية حول التحديث",
                                        "type": "string",
                                        "example": "تم زيادة النسبة بناءً على ملحق العقد رقم 2",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "✅ تم تحديث بيانات الشريك بنجاح",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "تم تحديث بيانات الشريك"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/AccPartner"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "🚫 الشريك غير موجود"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Accounting - الشركاء وجاري الشركاء"
                ],
                "summary": "🗑️ حذف شريك مساهم وحساباته",
                "description": "يحذف الشريك وحساب رأس المال والمسحوبات الخاصة به بشكل كامل بشرط عدم وجود أي حركات أو قيود مالية مسجلة عليها.",
                "operationId": "f85c3e562b7e5b33f057b57246bf4e79",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "معرف الشريك",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "✅ تم حذف الشريك وحساباته بنجاح",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "تم حذف الشريك وحساباته بنجاح"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "❌ لا يمكن حذف الشريك لوجود حركات مالية"
                    },
                    "404": {
                        "description": "🚫 الشريك غير موجود"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/accounting/partners/{id}/statement": {
            "get": {
                "tags": [
                    "Accounting - الشركاء وجاري الشركاء"
                ],
                "summary": "📑 كشف الحساب المالي الجاري للشريك",
                "description": "يولد هذا الإجراء كشف حساب مالي جاري للشريك يوضح كافة مسحوباته الشخصية وحركاته المالية المودعة أو المسحوبة وتوزيع الأرباح الختامي للفترة المالية المحددة. مفيد للمطابقة المالية والمسائل الضريبية والقانونية بين الشركاء.",
                "operationId": "ddeddeaf953550b0ae40c3094204af5e",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "معرف الشريك المساهم",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "period_id",
                        "in": "query",
                        "description": "معرف الفترة المالية المراد جلب كشف الجاري ضمن تواريخها",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "✅ تم جلب كشف حساب الشريك المساهم بنجاح",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "تم جلب كشف حساب الشريك"
                                        },
                                        "data": {
                                            "properties": {
                                                "partner": {
                                                    "description": "معلومات الشريك العامة",
                                                    "type": "object"
                                                },
                                                "capital_balance": {
                                                    "description": "رصيد رأس المال الحالي للشريك",
                                                    "type": "number"
                                                },
                                                "drawings_balance": {
                                                    "description": "إجمالي المسحوبات الشخصية المسجلة خلال الفترة",
                                                    "type": "number"
                                                },
                                                "net_balance": {
                                                    "description": "الرصيد المالي الجاري الصافي للعمليات",
                                                    "type": "number"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "⚠️ معرف الفترة المحاسبية (period_id) مطلوب"
                    },
                    "404": {
                        "description": "🚫 الشريك أو الفترة غير موجودين"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/accounting/periods": {
            "get": {
                "tags": [
                    "Accounting - الفترات المحاسبية"
                ],
                "summary": "🗂️ عرض الفترات المحاسبية",
                "description": "يسترجع هذا الإجراء قائمة بكافة الفترات المالية والمحاسبية المعرفة في النظام (مثل الأشهر المالية) مرتبة تنازلياً حسب تاريخ البداية. يُستخدم لعرض الفترات في لوحة التحكم وتحديد الفترة الحالية النشطة.",
                "operationId": "e82be058f537bb4da10f7a1dae529065",
                "responses": {
                    "200": {
                        "description": "✅ تم جلب الفترات المحاسبية بنجاح",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "تم جلب الفترات المحاسبية بنجاح"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/AccPeriod"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "❌ غير مصرح - يجب تسجيل الدخول"
                    },
                    "500": {
                        "description": "🔥 خطأ داخلي أثناء جلب البيانات"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Accounting - الفترات المحاسبية"
                ],
                "summary": "➕ إنشاء فترة محاسبية جديدة",
                "description": "ينشئ فترة مالية جديدة (مثال: شهر جديد) في النظام لتمكين المحاسبين من ترحيل القيود اليومية وعمليات الصناديق ضمنها. تفرض العملية شروط عدم تداخل تواريخ الفترة الجديدة مع أي فترات محاسبية جارية أخرى لمنع خلط الحسابات.",
                "operationId": "f30196b93cd7eb311d149f0d93725606",
                "requestBody": {
                    "description": "بيانات إنشاء الفترة المالية الجديدة",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "start_date",
                                    "end_date"
                                ],
                                "properties": {
                                    "name": {
                                        "description": "اسم الفترة المالية الفريد والمميز",
                                        "type": "string",
                                        "example": "شهر تموز 2026"
                                    },
                                    "start_date": {
                                        "description": "تاريخ بداية الفترة (YYYY-MM-DD)",
                                        "type": "string",
                                        "format": "date",
                                        "example": "2026-07-01"
                                    },
                                    "end_date": {
                                        "description": "تاريخ نهاية الفترة (يجب أن يكون بعد تاريخ البداية)",
                                        "type": "string",
                                        "format": "date",
                                        "example": "2026-07-31"
                                    },
                                    "notes": {
                                        "description": "ملاحظات إضافية بخصوص الفترة المحاسبية الجديدة",
                                        "type": "string",
                                        "example": "فترة الربع الثالث",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "✅ تم إنشاء الفترة بنجاح",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "تم إنشاء الفترة المحاسبية بنجاح"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/AccPeriod"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "❌ مدخلات خاطئة أو تداخل في التواريخ"
                    },
                    "422": {
                        "description": "⚠️ خطأ في التحقق من الحقول"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/accounting/periods/{id}": {
            "get": {
                "tags": [
                    "Accounting - الفترات المحاسبية"
                ],
                "summary": "🔍 تفاصيل فترة محاسبية محددة",
                "description": "يسترجع البيانات التفصيلية لفترة مالية معينة باستخدام معرفها الفريد (ID)، بما في ذلك تواريخها، وحالتها الحالية، ومن قام بإغلاقها وتاريخ الإغلاق إن وجد.",
                "operationId": "02fb5310c8ee806518b0bb9958cc37e0",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "معرف الفترة المالية",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "✅ تم استرجاع تفاصيل الفترة بنجاح",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "تم جلب بيانات الفترة"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/AccPeriod"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "🚫 الفترة المالية غير موجودة"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/accounting/periods/{id}/close": {
            "post": {
                "tags": [
                    "Accounting - الفترات المحاسبية"
                ],
                "summary": "🔒 إغلاق الفترة المحاسبية مؤقتاً",
                "description": "يغلق هذا الإجراء الفترة المالية مؤقتاً لمنع تعديل القيود أو الصناديق يدوياً، مع إتاحة إمكانية إعادة فتحها لاحقاً للمدراء فقط في حال الحاجة لإجراء تسويات ضرورية. يمثل سيناريو نهاية الشهر الفنية.",
                "operationId": "b396b1b3616820204fd096e3fce62eb9",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "معرف الفترة المالية المراد إغلاقها",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "✅ تم إغلاق الفترة المحاسبية بنجاح",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "تم إغلاق الفترة المحاسبية بنجاح"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/AccPeriod"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "❌ لا يمكن إغلاق الفترة (قد تكون مغلقة أو مقفلة مسبقاً)"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/accounting/periods/{id}/lock": {
            "post": {
                "tags": [
                    "Accounting - الفترات المحاسبية"
                ],
                "summary": "🔏 قفل الفترة المحاسبية نهائياً",
                "description": "يقوم هذا الإجراء بقفل الفترة المالية نهائياً وحظر أي إمكانية لإعادة فتحها أو تعديل أي حركة مالية مرتبطة بها مجدداً. يُستخدم عادةً لإقفال الحسابات الختامية السنوية بعد الجرد وتوليد الميزانية العمومية الرسمية.",
                "operationId": "1ce0dd0c16508d358376f8cca5f7ec89",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "معرف الفترة المالية المراد قفلها نهائياً",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "✅ تم قفل الفترة المالية نهائياً وبشكل غير قابل للتراجع",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "تم قفل الفترة نهائياً"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/AccPeriod"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "❌ لا يمكن قفل الفترة (قد لا تكون مغلقة أولاً أو مقفلة بالفعل)"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/accounting/periods/{id}/reopen": {
            "post": {
                "tags": [
                    "Accounting - الفترات المحاسبية"
                ],
                "summary": "🔓 إعادة فتح فترة مغلقة مؤقتاً",
                "description": "يسمح هذا الإجراء للمدير المالي بإعادة فتح فترة مالية مغلقة مؤقتاً (Closed) لإجراء قيود تسوية طارئة أو تصحيح أخطاء القيود. لا يمكن إعادة فتح الفترات المقفلة نهائياً (Locked).",
[...]
