<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Redirect to public" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions>
            <add input="{URL}" pattern="^/public/" negate="true" />
          </conditions>
          <action type="Rewrite" url="/public/{R:1}" />
        </rule>
      </rules>
    </rewrite>
    <security>
      <!-- السماح بالدخول للمستخدمين المجهولين ومنع المصادقة الأساسية -->
      <authentication>
        <anonymousAuthentication enabled="true" />
        <basicAuthentication enabled="false" />
      </authentication>
    </security>
  </system.webServer>
</configuration>
